#intro {
    height: calc(100vh - 4rem);
    width: 100vw;
    max-width: 75rem;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.bg {
    position: absolute;
    z-index: -1;
    top: -4rem;
    right: 0;
    object-fit: cover;
    height: 100vh;

}
.introContent {
    height: 100vh;
    width: 100vw;
    padding: 2rem;
    font-size: 3rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hello {
    font-size: 1.75rem;
    font-weight: 100;
}

.introName {
    color: rgb(41, 229, 170);
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.introPara {
    font-size: medium;
    font-weight: 300;
    letter-spacing: 1px;
    margin: 1rem 0;
    margin-top: 3rem;
}

@media screen and (max-width:913px) {
    .bg {
        right: -30vw
    }
    .introContent {
        font-size: 10vw;
    }
    .hello {
        font-size: 4.5vw;
    }
}
@media screen and (max-width:480px) {
    .bg {
        right: -60vw
    }
}